

.ficheProduit {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: #F2E8F0;
    box-shadow: 0 2px 3px 1px rgba(196, 196, 196, 0.541);
    img{
        border-radius: 3px 3px 0 0;
        width: 100%;
        object-fit: cover;
    }

    .camera-name {
        font-size: 18px;
        color: white;
        background-color: #2B2929;
        padding: 20px;
        margin: -5px 0 10px 0;
    }
    .camera-description {
        margin: 20px;
    }

    .filtre {
        margin-right: 10px;
    }

    .barFiltre {
        height: 30px;
        width: 50%;
        margin: 5px;
    }

    .quantite {
        height: 30px;
        width: 40px;
        margin-left: 30px;
        background: transparent;
        border: none;
        font-size: 20px;
        -moz-appearance:textfield; 
        outline-style: none;      
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }

   
    button {
        border: none;
        cursor: pointer;
        i {
            font-size: 25px;
            position: relative;
            top: 3px;
            color: #2B2929;
            transition: 50ms ease-in-out;
        }
    }

    button:active {
        i {
            transform: scale(1.2);
            color: #e6c976;
        }
    }

    .camera-price {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .btn {
        color: white;
        background-color: #2B2929;
        height: 30px;
        width: 300px;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        transition: 300ms ease-in-out;
    }
    .panier{
        background-color: #e6c976;
        color: black;
        width: 615px;
        margin-top: 20px;
    }
    .btn:hover {
        background-color: #e6c976;
        color: black;
    }
    .panier:hover {
        font-size: 16px;
    }
}


@media only screen and (max-width: 795px) {

    .panier{
        max-width: 300px;
    } 
}