@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


/************* Header ************/

header, footer {
    background: #f2e8f0;
    position: relative;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 10;
    img {
        margin-top: 10px;
    }
    #search {
        margin: 27px 5px 0px 5px;
        height: 30px;
        width: 45%;
    }

    .burger {
        display: none;
        margin: 15px;

        div {
            width: 25px;
            height: 3px;
            background-color: #2B2929;
            margin: 5px;
            transition: all 0.3s;
        }
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
            
.toggle .line2{
    opacity: 0;
}
            
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-links {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 27px 0px 0px 0px;

    li{
        font-size: 20px;
        margin-right: 20px;
        padding: 5px 10px;
        text-align: center;
        width: 120px;
        border-radius: 4px;
        background-color: #2B2929;
        transition: 300ms ease-in-out;  
        
        span, i {
            color: white;
            }
    }

    li:hover {
        background-color: #e6c976;

        span, i {
        color: black;
        }
    }
}


/************* Footer ************/

footer {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}




/************* Responsive ************/


@media only screen and (max-width: 1005px) {
    
    .nav-links {
        margin: 18px 10px 0 10px;

        li {
           width: inherit;
           margin-right: 30px;
           font-size: 25px;
           padding: 10px 15px;
    
            .textMenu {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 750px) {


    /************* header ************/
    header {
        padding-bottom: 30px;
    
        .logo {
            position: relative;
            top: -10px;
        }
        #search {
            position: absolute;
            top: 40px;
            left: 50%;
            width: 60%; 
            transform: translateX(-50%);
        }

        .burger{
            display: block;
            cursor: pointer;
        }

        .nav-links {
            background: #f2e8f0;
            top: 40px;
            margin: 20px 0 0 0;
            position: absolute;
            left: 0;
            opacity: 80%;
	        transform: translateY(-190%);
	        transition: transform 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            z-index: -1;
            border-radius: 0 0 65% 35% / 0 0 42% 8% ;
            box-shadow:  1px 1px 1px rgba(196, 196, 196, 0.541);

            li {
                font-size: 20px;
                width: 160px;
                margin: 8px;
                background-color: #444244;
                padding: 8px;
                border-radius: 5px;
                box-shadow: 0 2px 3px 1px rgba(117, 112, 112, 0.281);
                opacity: 0;
                transition: opacity 0.15s ease-out;
            
                .textMenu, i {
                    display: inherit;
                    color: white;
                    
                }
            }
            
            li:hover {
                .textMenu {
                    color: black;
                }
            }
        }
        .nav-active{
            height: 190px;
            transform: translateY(40px);
            opacity: 100%;
            
            .li1 {
                margin-top: 20px;
                opacity: 1;
                transition: opacity 0.5s ease-out 0.20s;
            }
            .li2 {
                opacity: 1;
                transition: opacity 0.5s ease-out 0.30s;
            }
                
            .li3 {
                opacity: 1;
                transition: opacity 0.5s ease-out 0.40s;
            }
               
            }

    }
}
