* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/************* Header ************/
header, footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(62%, #f2e8f0), color-stop(73%, #aaa8ad), color-stop(95%, #444244), to(#2B2929));
  background: linear-gradient(0.25turn, #f2e8f0 62%, #aaa8ad 73%, #444244 95%, #2B2929 100%);
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
  z-index: 10;
}

header img {
  margin-top: 10px;
}

header #search {
  margin: 27px 5px 0px 5px;
  height: 30px;
  width: 45%;
}

header .burger {
  display: none;
  margin: 15px;
}

header .burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px 0px 0px 0px;
}

.nav-links li {
  font-size: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  text-align: center;
  width: 120px;
  border: 1Px solid black;
  border-radius: 4px;
  background-color: #f2e8f0;
}

/************* Cameras ************/
h1 {
  margin: 100px auto 50px auto;
  font-size: 40px;
  text-align: center;
  padding: 0 20px;
}

#results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#results .card {
  background-color: #F2E8F0;
  margin: 20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px 1px rgba(196, 196, 196, 0.541);
          box-shadow: 0 2px 3px 1px rgba(196, 196, 196, 0.541);
  height: 420px;
  width: 300px;
}

#results .card .camera-image {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#results .card .camera-info {
  text-align: center;
}

#results .card .camera-info .camera-name {
  font-size: 18px;
  color: white;
  background-color: #2B2929;
  padding: 10px;
  margin: -5px 0 20px 0;
}

#results .card .camera-info .camera-price {
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
  margin-bottom: 25px;
}

#results .card .camera-info .btn {
  color: white;
  background-color: #2B2929;
  padding: 10px;
  border-radius: 5px;
}

/************* Footer ************/
footer {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

/************* Responsive ************/
@media only screen and (max-width: 1005px) {
  .nav-links {
    margin: 18px 10px 0 10px;
  }
  .nav-links li {
    width: inherit;
    margin-right: 30px;
    font-size: 25px;
    padding: 10px 15px;
  }
  .nav-links li .textMenu {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  /************* header ************/
  header {
    padding-bottom: 30px;
  }
  header .logo {
    position: relative;
    top: -10px;
  }
  header #search {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 60%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .burger {
    display: block;
    cursor: pointer;
  }
  header .nav-links {
    background: -webkit-gradient(linear, left top, right top, from(#f2e8f0), color-stop(62%, #f2e8f0), color-stop(73%, #aaa8ad), color-stop(95%, #444244), to(#2B2929));
    background: linear-gradient(0.25turn, #f2e8f0 0%, #f2e8f0 62%, #aaa8ad 73%, #444244 95%, #2B2929 100%);
    top: 40px;
    margin: 20px 0 0 0;
    position: absolute;
    left: 0;
    opacity: 80%;
    -webkit-transform: translateY(-190%);
            transform: translateY(-190%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 65% 35% / 0 0 42% 8%;
    -webkit-box-shadow: 1px 1px 1px rgba(196, 196, 196, 0.541);
            box-shadow: 1px 1px 1px rgba(196, 196, 196, 0.541);
  }
  header .nav-links li {
    font-size: 20px;
    width: 160px;
    margin: 8px;
    background-color: #444244;
    padding: 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px 1px rgba(117, 112, 112, 0.281);
            box-shadow: 0 2px 3px 1px rgba(117, 112, 112, 0.281);
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
  }
  header .nav-links li .textMenu, header .nav-links li i {
    display: inherit;
    color: white;
  }
  header .nav-active {
    height: 190px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 100%;
  }
  header .nav-active .li1 {
    margin-top: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.20s;
    transition: opacity 0.5s ease-out 0.20s;
  }
  header .nav-active .li2 {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.30s;
    transition: opacity 0.5s ease-out 0.30s;
  }
  header .nav-active .li3 {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.40s;
    transition: opacity 0.5s ease-out 0.40s;
  }
  /************* Cameras ************/
  #results .card {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
  }
}
/*# sourceMappingURL=style.css.map */