@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

/************* Header ************/
header, footer {
  background: #f2e8f0;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  z-index: 10;
}

header img {
  margin-top: 10px;
}

header #search {
  margin: 27px 5px 0px 5px;
  height: 30px;
  width: 45%;
}

header .burger {
  display: none;
  margin: 15px;
}

header .burger div {
  width: 25px;
  height: 3px;
  background-color: #2B2929;
  margin: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px 0px 0px 0px;
}

.nav-links li {
  font-size: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  text-align: center;
  width: 120px;
  border-radius: 4px;
  background-color: #2B2929;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.nav-links li span, .nav-links li i {
  color: white;
}

.nav-links li:hover {
  background-color: #e6c976;
}

.nav-links li:hover span, .nav-links li:hover i {
  color: black;
}

/************* Footer ************/
footer {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

/************* Responsive ************/
@media only screen and (max-width: 1005px) {
  .nav-links {
    margin: 18px 10px 0 10px;
  }
  .nav-links li {
    width: inherit;
    margin-right: 30px;
    font-size: 25px;
    padding: 10px 15px;
  }
  .nav-links li .textMenu {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  /************* header ************/
  header {
    padding-bottom: 30px;
  }
  header .logo {
    position: relative;
    top: -10px;
  }
  header #search {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 60%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .burger {
    display: block;
    cursor: pointer;
  }
  header .nav-links {
    background: #f2e8f0;
    top: 40px;
    margin: 20px 0 0 0;
    position: absolute;
    left: 0;
    opacity: 80%;
    -webkit-transform: translateY(-190%);
            transform: translateY(-190%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 65% 35% / 0 0 42% 8%;
    -webkit-box-shadow: 1px 1px 1px rgba(196, 196, 196, 0.541);
            box-shadow: 1px 1px 1px rgba(196, 196, 196, 0.541);
  }
  header .nav-links li {
    font-size: 20px;
    width: 160px;
    margin: 8px;
    background-color: #444244;
    padding: 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px 1px rgba(117, 112, 112, 0.281);
            box-shadow: 0 2px 3px 1px rgba(117, 112, 112, 0.281);
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
  }
  header .nav-links li .textMenu, header .nav-links li i {
    display: inherit;
    color: white;
  }
  header .nav-links li:hover .textMenu {
    color: black;
  }
  header .nav-active {
    height: 190px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 100%;
  }
  header .nav-active .li1 {
    margin-top: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.20s;
    transition: opacity 0.5s ease-out 0.20s;
  }
  header .nav-active .li2 {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.30s;
    transition: opacity 0.5s ease-out 0.30s;
  }
  header .nav-active .li3 {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0.40s;
    transition: opacity 0.5s ease-out 0.40s;
  }
}
/*# sourceMappingURL=style.css.map */